In [832]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, accuracy_score, confusion_matrix
import numpy as np

world_data = pd.read_csv("world_data.csv")
top_languages = pd.read_csv("top_languages.csv")

In [833]:
# https://stackoverflow.com/questions/19124601/pretty-print-an-entire-pandas-series-dataframe
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(world_data.head())

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [834]:
# Removing Unwanted Columns
world_data.drop(['Abbreviation'], axis=1, inplace=True)
world_data.drop(['Calling Code'], axis=1, inplace=True)
world_data.drop(['Capital/Major City'], axis=1, inplace=True)
world_data.drop(['Currency-Code'], axis=1, inplace=True)
world_data.drop(['Latitude'], axis=1, inplace=True)
world_data.drop(['Longitude'], axis=1, inplace=True)
world_data.drop(['Armed Forces size'], axis=1, inplace=True)
world_data.drop(['Largest city'], axis=1, inplace=True)

# world_data.drop(['Land Area(Km2)'], axis=1, inplace=True)
# world_data.drop(['Birth Rate'], axis=1, inplace=True)

In [835]:
# Dataset after removing all unwanted columns
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(world_data.head())

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
0,Afghanistan,60,58.10%,"652,230",32.49,"8,672",149.9,2.30%,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273"
1,Albania,105,43.10%,"28,748",11.78,"4,536",119.05,1.40%,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593"
2,Algeria,18,17.40%,"2,381,741",24.28,"150,006",151.36,2.00%,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100"
3,Andorra,164,40.00%,468,7.20,469,NaN,NaN,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873"
4,Angola,26,47.50%,"1,246,700",40.73,"34,693",261.73,17.10%,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025"

In [836]:
# Checking data type of each column
for column_name, data_type in world_data.dtypes.items():
    print(f"Column: {column_name}, Data Type: {data_type}")

Column: Country, Data Type: object
Column: Density
(P/Km2), Data Type: object
Column: Agricultural Land( %), Data Type: object
Column: Land Area(Km2), Data Type: object
Column: Birth Rate, Data Type: float64
Column: Co2-Emissions, Data Type: object
Column: CPI, Data Type: object
Column: CPI Change (%), Data Type: object
Column: Fertility Rate, Data Type: float64
Column: Forested Area (%), Data Type: object
Column: Gasoline Price, Data Type: object
Column: GDP, Data Type: object
Column: Gross primary education enrollment (%), Data Type: object
Column: Gross tertiary education enrollment (%), Data Type: object
Column: Infant mortality, Data Type: float64
Column: Life expectancy, Data Type: float64
Column: Maternal mortality ratio, Data Type: float64
Column: Minimum wage, Data Type: object
Column: Official language, Data Type: object
Column: Out of pocket health expenditure, Data Type: object
Column: Physicians per thousand, Data Type: float64
Column: Population, Data Type: object
Column: Population: Labor force participation (%), Data Type: object
Column: Tax revenue (%), Data Type: object
Column: Total tax rate, Data Type: object
Column: Unemployment rate, Data Type: object
Column: Urban_population, Data Type: object

In [837]:
# Converting strings to integers and floats
def replace_commas(x):
    return x.replace(',', '') if isinstance(x, str) else x

def replace_percentage(x):
    return x.replace('%', '') if isinstance(x, str) else x

def replace_dollar(x):
    return x.replace('$', '') if isinstance(x, str) else x

def round_down(x):
    return x * 0.01

world_data['Density\n(P/Km2)'] = world_data['Density\n(P/Km2)'].apply(replace_commas).astype(float)
world_data['Agricultural Land( %)'] = world_data['Agricultural Land( %)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Land Area(Km2)'] = world_data['Land Area(Km2)'].apply(replace_commas).astype(float)
world_data['Co2-Emissions'] = world_data['Co2-Emissions'].apply(replace_commas).astype(float)
world_data['CPI'] = world_data['CPI'].apply(replace_commas).astype(float)
world_data['CPI Change (%)'] = world_data['CPI Change (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Forested Area (%)'] = world_data['Forested Area (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Gasoline Price'] = world_data['Gasoline Price'].apply(replace_dollar).astype(float)
world_data['GDP'] = world_data['GDP'].apply(replace_dollar).apply(replace_commas).astype(float)
world_data['Gross primary education enrollment (%)'] = world_data['Gross primary education enrollment (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Gross tertiary education enrollment (%)'] = world_data['Gross tertiary education enrollment (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Minimum wage'] = world_data['Minimum wage'].apply(replace_dollar).astype(float)
world_data['Out of pocket health expenditure'] = world_data['Out of pocket health expenditure'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Population'] = world_data['Population'].apply(replace_commas).astype(float)
world_data['Population: Labor force participation (%)'] = world_data['Population: Labor force participation (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Tax revenue (%)'] = world_data['Tax revenue (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Total tax rate'] = world_data['Total tax rate'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Unemployment rate'] = world_data['Unemployment rate'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Urban_population'] = world_data['Urban_population'].apply(replace_commas).astype(float)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(world_data.head())

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
0,Afghanistan,60.0,0.581,652230.0,32.49,8672.0,149.90,0.023,4.47,0.021,0.70,1.910135e+10,1.040,0.097,47.9,64.5,638.0,0.43,Pashto,0.784,0.28,38041754.0,0.489,0.093,0.714,0.1112,9797273.0
1,Albania,105.0,0.431,28748.0,11.78,4536.0,119.05,0.014,1.62,0.281,1.36,1.527808e+10,1.070,0.550,7.8,78.5,15.0,1.12,Albanian,0.569,1.20,2854191.0,0.557,0.186,0.366,0.1233,1747593.0
2,Algeria,18.0,0.174,2381741.0,24.28,150006.0,151.36,0.020,3.02,0.008,0.28,1.699882e+11,1.099,0.514,20.1,76.7,112.0,0.95,Arabic,0.281,1.72,43053054.0,0.412,0.372,0.661,0.1170,31510100.0
3,Andorra,164.0,0.400,468.0,7.20,469.0,NaN,NaN,1.27,0.340,1.51,3.154058e+09,1.064,NaN,2.7,NaN,NaN,6.63,Catalan,0.364,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0
4,Angola,26.0,0.475,1246700.0,40.73,34693.0,261.73,0.171,5.52,0.463,0.97,9.463542e+10,1.135,0.093,51.6,60.8,241.0,0.71,Portuguese,0.334,0.21,31825295.0,0.775,0.092,0.491,0.0689,21061025.0

In [838]:
# Imputation of Missing Data: Fixing country names with unrecognized characters
world_data.loc[150, 'Country'] = "Sao Tome & Principe"

In [839]:
# Checking for null values for agricultural land
nan_rows = world_data[world_data['Agricultural Land( %)'].isnull()]
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
56,Eswatini,67.0,NaN,17364.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.791304e+09,NaN,NaN,NaN,NaN,NaN,NaN,English,0.113,NaN,1093238.0,NaN,0.286,NaN,NaN,NaN
73,Vatican City,2003.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italian,NaN,NaN,836.0,NaN,NaN,NaN,NaN,NaN
113,Monaco,26337.0,NaN,2.0,5.90,NaN,NaN,NaN,NaN,NaN,2.00,7.184844e+09,NaN,NaN,2.6,NaN,NaN,11.72,French,0.061,6.56,38964.0,NaN,NaN,NaN,NaN,38964.0
120,Nauru,541.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.330000e+08,NaN,NaN,NaN,NaN,NaN,NaN,English,NaN,NaN,10084.0,NaN,NaN,NaN,NaN,NaN
128,North Macedonia,83.0,NaN,25713.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022078e+10,NaN,NaN,NaN,NaN,NaN,NaN,Macedonian,0.356,NaN,1836713.0,NaN,NaN,NaN,NaN,NaN
133,Palestinian National Authority,847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arabic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,South Sudan,18.0,NaN,644329.0,35.01,1727.0,4583.71,1.879,4.7,NaN,0.28,1.199780e+10,0.73,NaN,63.7,57.6,1150.0,NaN,English,0.613,NaN,11062113.0,0.724,NaN,0.314,0.1224,2201250.0

In [840]:
# Replace NaN with real values for Agricultural Land (%) 
# Main source: https://data.worldbank.org/indicator/AG.LND.AGRI.ZS?name_desc=false

world_data.loc[56, 'Agricultural Land( %)'] = 0.695
world_data.loc[73, 'Agricultural Land( %)' ] = 0.0 # Source: https://www.indexmundi.com/holy_see_(vatican_city)/land_use.html
world_data.loc[113, 'Agricultural Land( %)' ] = 0.0 # Source: https://www.fao.org/countryprofiles/index/en/?iso3=MCO
world_data.loc[120, 'Agricultural Land( %)'] = 0.20
world_data.loc[128, 'Agricultural Land( %)'] = 0.50
world_data.loc[133, 'Agricultural Land( %)'] = 0.50 # Source: https://socialsciences.mcmaster.ca/kubursi/ebooks/water.htm
world_data.loc[163, 'Agricultural Land( %)'] = 0.447

In [841]:
# Check for null birth rates
nan_rows = world_data[world_data['Birth Rate'].isnull()]
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
56,Eswatini,67.0,0.695,17364.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.791304e+09,NaN,NaN,NaN,NaN,NaN,NaN,English,0.113,NaN,1093238.0,NaN,0.286,NaN,NaN,NaN
73,Vatican City,2003.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italian,NaN,NaN,836.0,NaN,NaN,NaN,NaN,NaN
120,Nauru,541.0,0.200,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.330000e+08,NaN,NaN,NaN,NaN,NaN,NaN,English,NaN,NaN,10084.0,NaN,NaN,NaN,NaN,NaN
128,North Macedonia,83.0,0.500,25713.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022078e+10,NaN,NaN,NaN,NaN,NaN,NaN,Macedonian,0.356,NaN,1836713.0,NaN,NaN,NaN,NaN,NaN
133,Palestinian National Authority,847.0,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arabic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Tuvalu,393.0,0.600,26.0,NaN,11.0,NaN,NaN,NaN,0.333,NaN,4.727146e+07,0.86,NaN,20.6,NaN,NaN,NaN,Tuvaluan Language,0.007,0.92,11646.0,NaN,NaN,NaN,NaN,7362.0

In [842]:
nan_rows = world_data[world_data['Co2-Emissions'].isnull()]
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
56,Eswatini,67.0,0.695,17364.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.791304e+09,NaN,NaN,NaN,NaN,NaN,NaN,English,0.113,NaN,1093238.0,NaN,0.286,NaN,NaN,NaN
73,Vatican City,2003.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italian,NaN,NaN,836.0,NaN,NaN,NaN,NaN,NaN
113,Monaco,26337.0,0.000,2.0,5.9,NaN,NaN,NaN,NaN,NaN,2.0,7.184844e+09,NaN,NaN,2.6,NaN,NaN,11.72,French,0.061,6.56,38964.0,NaN,NaN,NaN,NaN,38964.0
120,Nauru,541.0,0.200,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.330000e+08,NaN,NaN,NaN,NaN,NaN,NaN,English,NaN,NaN,10084.0,NaN,NaN,NaN,NaN,NaN
128,North Macedonia,83.0,0.500,25713.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022078e+10,NaN,NaN,NaN,NaN,NaN,NaN,Macedonian,0.356,NaN,1836713.0,NaN,NaN,NaN,NaN,NaN
133,Palestinian National Authority,847.0,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arabic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,San Marino,566.0,0.167,61.0,6.8,NaN,110.63,0.01,1.26,0.0,NaN,1.637931e+09,1.081,0.425,1.7,85.4,NaN,NaN,Italian,0.183,6.11,33860.0,NaN,0.181,0.362,NaN,32969.0

In [843]:
# Check correlation between population and c02 emissions
correlation_coefficient = world_data['Population'].corr(world_data['Co2-Emissions'])
correlation_coefficient

0.8099438472359293

In [844]:
# Replace NaN with real values for Co2-Emissions
# - Main source: https://data.worldbank.org/indicator/EN.ATM.CO2E.KT measures emissions in kilo tons (same as my data set)
# - Second source: https://www.worldometers.info/co2-emissions/co2-emissions-by-country/ measures emissions in kilotons but mostly
# corroborates main source however it is a bit more outdated as data is from 2016 but there are only slight differences

from sklearn.impute import KNNImputer
imputer = KNNImputer()

world_data.loc[56, 'Co2-Emissions'] = 1148
world_data.loc[73, 'Co2-Emissions'] =  0 # no data found so set to 0
world_data.loc[113, 'Co2-Emissions'] = 0 # no data found so set to 0
world_data.loc[120, 'Co2-Emissions'] = 41
world_data.loc[128, 'Co2-Emissions'] = 6797
world_data.loc[133, 'Co2-Emissions'] = 0 # no data found so set to 0
world_data.loc[149, 'Co2-Emissions'] = 0

In [845]:
nan_rows = world_data[world_data['Co2-Emissions'].isnull()]
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
149,San Marino,566.0,0.167,61.0,6.8,NaN,110.63,0.01,1.26,0.0,NaN,1.637931e+09,1.081,0.425,1.7,85.4,NaN,NaN,Italian,0.183,6.11,33860.0,NaN,0.181,0.362,NaN,32969.0