In [1223]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, accuracy_score, confusion_matrix
import numpy as np

world_data = pd.read_csv("world_data.csv")
top_languages = pd.read_csv("top_languages.csv")

In [1224]:
# https://stackoverflow.com/questions/19124601/pretty-print-an-entire-pandas-series-dataframe
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(world_data.head())

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [1225]:
# Removing Unwanted Columns
world_data.drop(['Abbreviation'], axis=1, inplace=True)
world_data.drop(['Calling Code'], axis=1, inplace=True)
world_data.drop(['Capital/Major City'], axis=1, inplace=True)
world_data.drop(['Currency-Code'], axis=1, inplace=True)
world_data.drop(['Latitude'], axis=1, inplace=True)
world_data.drop(['Longitude'], axis=1, inplace=True)
world_data.drop(['Armed Forces size'], axis=1, inplace=True)
world_data.drop(['Largest city'], axis=1, inplace=True)

# world_data.drop(['Land Area(Km2)'], axis=1, inplace=True)
# world_data.drop(['Birth Rate'], axis=1, inplace=True)

In [1226]:
# Dataset after removing all unwanted columns
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(world_data.head())

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
0,Afghanistan,60,58.10%,"652,230",32.49,"8,672",149.9,2.30%,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273"
1,Albania,105,43.10%,"28,748",11.78,"4,536",119.05,1.40%,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593"
2,Algeria,18,17.40%,"2,381,741",24.28,"150,006",151.36,2.00%,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100"
3,Andorra,164,40.00%,468,7.20,469,NaN,NaN,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873"
4,Angola,26,47.50%,"1,246,700",40.73,"34,693",261.73,17.10%,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025"

In [1227]:
# Checking data type of each column
for column_name, data_type in world_data.dtypes.items():
    print(f"Column: {column_name}, Data Type: {data_type}")

Column: Country, Data Type: object
Column: Density
(P/Km2), Data Type: object
Column: Agricultural Land( %), Data Type: object
Column: Land Area(Km2), Data Type: object
Column: Birth Rate, Data Type: float64
Column: Co2-Emissions, Data Type: object
Column: CPI, Data Type: object
Column: CPI Change (%), Data Type: object
Column: Fertility Rate, Data Type: float64
Column: Forested Area (%), Data Type: object
Column: Gasoline Price, Data Type: object
Column: GDP, Data Type: object
Column: Gross primary education enrollment (%), Data Type: object
Column: Gross tertiary education enrollment (%), Data Type: object
Column: Infant mortality, Data Type: float64
Column: Life expectancy, Data Type: float64
Column: Maternal mortality ratio, Data Type: float64
Column: Minimum wage, Data Type: object
Column: Official language, Data Type: object
Column: Out of pocket health expenditure, Data Type: object
Column: Physicians per thousand, Data Type: float64
Column: Population, Data Type: object
Column: Population: Labor force participation (%), Data Type: object
Column: Tax revenue (%), Data Type: object
Column: Total tax rate, Data Type: object
Column: Unemployment rate, Data Type: object
Column: Urban_population, Data Type: object

In [1228]:
# Converting strings to integers and floats
def replace_commas(x):
    return x.replace(',', '') if isinstance(x, str) else x

def replace_percentage(x):
    return x.replace('%', '') if isinstance(x, str) else x

def replace_dollar(x):
    return x.replace('$', '') if isinstance(x, str) else x

def round_down(x):
    return x * 0.01

world_data['Density\n(P/Km2)'] = world_data['Density\n(P/Km2)'].apply(replace_commas).astype(float)
world_data['Agricultural Land( %)'] = world_data['Agricultural Land( %)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Land Area(Km2)'] = world_data['Land Area(Km2)'].apply(replace_commas).astype(float)
world_data['Co2-Emissions'] = world_data['Co2-Emissions'].apply(replace_commas).astype(float)
world_data['CPI'] = world_data['CPI'].apply(replace_commas).astype(float)
world_data['CPI Change (%)'] = world_data['CPI Change (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Forested Area (%)'] = world_data['Forested Area (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Gasoline Price'] = world_data['Gasoline Price'].apply(replace_dollar).astype(float)
world_data['GDP'] = world_data['GDP'].apply(replace_dollar).apply(replace_commas).astype(float)
world_data['Gross primary education enrollment (%)'] = world_data['Gross primary education enrollment (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Gross tertiary education enrollment (%)'] = world_data['Gross tertiary education enrollment (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Minimum wage'] = world_data['Minimum wage'].apply(replace_dollar).astype(float)
world_data['Out of pocket health expenditure'] = world_data['Out of pocket health expenditure'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Population'] = world_data['Population'].apply(replace_commas).astype(float)
world_data['Population: Labor force participation (%)'] = world_data['Population: Labor force participation (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Tax revenue (%)'] = world_data['Tax revenue (%)'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Total tax rate'] = world_data['Total tax rate'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Unemployment rate'] = world_data['Unemployment rate'].apply(replace_percentage).astype(float).apply(round_down)
world_data['Urban_population'] = world_data['Urban_population'].apply(replace_commas).astype(float)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(world_data.head())

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
0,Afghanistan,60.0,0.581,652230.0,32.49,8672.0,149.90,0.023,4.47,0.021,0.70,1.910135e+10,1.040,0.097,47.9,64.5,638.0,0.43,Pashto,0.784,0.28,38041754.0,0.489,0.093,0.714,0.1112,9797273.0
1,Albania,105.0,0.431,28748.0,11.78,4536.0,119.05,0.014,1.62,0.281,1.36,1.527808e+10,1.070,0.550,7.8,78.5,15.0,1.12,Albanian,0.569,1.20,2854191.0,0.557,0.186,0.366,0.1233,1747593.0
2,Algeria,18.0,0.174,2381741.0,24.28,150006.0,151.36,0.020,3.02,0.008,0.28,1.699882e+11,1.099,0.514,20.1,76.7,112.0,0.95,Arabic,0.281,1.72,43053054.0,0.412,0.372,0.661,0.1170,31510100.0
3,Andorra,164.0,0.400,468.0,7.20,469.0,NaN,NaN,1.27,0.340,1.51,3.154058e+09,1.064,NaN,2.7,NaN,NaN,6.63,Catalan,0.364,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0
4,Angola,26.0,0.475,1246700.0,40.73,34693.0,261.73,0.171,5.52,0.463,0.97,9.463542e+10,1.135,0.093,51.6,60.8,241.0,0.71,Portuguese,0.334,0.21,31825295.0,0.775,0.092,0.491,0.0689,21061025.0

In [1229]:
threshold = 9

while threshold >= 2:
    rows_with_missing_values = world_data[world_data.isnull().any(axis=1)]
    missing_values_per_row = rows_with_missing_values.isnull().sum(axis=1)
    rows_with_several_missing_values = rows_with_missing_values[missing_values_per_row >= threshold]
    world_data = world_data.drop(rows_with_several_missing_values.index)
    threshold = threshold - 1

print(len(world_data))

162

In [1230]:
# Check for null values
nan_rows = world_data[world_data['Country'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Density\n(P/Km2)'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Agricultural Land( %)'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Land Area(Km2)'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Birth Rate'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Co2-Emissions'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['CPI'].isnull()]
print(len(nan_rows))

0
0
0
0
0
0
1

In [1231]:
# Substitute values for missing CPI
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
15,Belarus,47.0,0.42,207600.0,9.9,58280.0,NaN,0.056,1.45,0.426,0.6,6.308046e+10,1.005,0.874,2.6,74.2,2.0,1.49,Russian,0.345,5.19,9466856.0,0.641,0.147,0.533,0.0459,7482982.0

In [1232]:
from sklearn.impute import KNNImputer

imputer = KNNImputer()

world_data['CPI'] = imputer.fit_transform(world_data[['CPI']])
world_data.loc[15, 'CPI'] = round(world_data.loc[15, 'CPI'], 2)
print(world_data.loc[15, 'CPI'])

170.18

In [1233]:
# Check more columns for null values
nan_rows = world_data[world_data['CPI Change (%)'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Fertility Rate'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Forested Area (%)'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Gasoline Price'].isnull()]
print(len(nan_rows))

0
0
0
3

In [1234]:
# Substitute values for missing Gasoline Prices
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
53,Equatorial Guinea,50.0,0.101,28051.0,33.24,5655.0,124.35,0.012,4.51,0.555,NaN,1.102677e+10,0.618,0.019,62.6,58.4,301.0,1.05,Spanish,0.720,0.40,1355986.0,0.620,0.061,0.794,0.0643,984812.0
70,Guinea-Bissau,70.0,0.580,36125.0,35.13,293.0,111.65,0.014,4.48,0.698,NaN,1.340389e+09,1.187,0.026,54.0,58.0,667.0,0.16,Portuguese,0.372,0.13,1920922.0,0.720,0.103,0.455,0.0247,840922.0
147,Saint Vincent and the Grenadines,284.0,0.256,389.0,14.24,220.0,109.67,0.023,1.89,0.692,NaN,8.253852e+08,1.134,0.237,14.8,72.4,68.0,1.16,English,0.214,0.66,100455.0,0.659,0.254,0.370,0.1888,58185.0

In [1235]:
imputer = KNNImputer()

world_data['Gasoline Price'] = imputer.fit_transform(world_data[['Gasoline Price']])
world_data['Gasoline Price'] = world_data['Gasoline Price'].round(2)
print(world_data.loc[53, 'Gasoline Price'])
print(world_data.loc[70, 'Gasoline Price'])
print(world_data.loc[147, 'Gasoline Price'])

0.99
0.99
0.99

In [1236]:
# Check more columns for missing values
nan_rows = world_data[world_data['GDP'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Gross primary education enrollment (%)'].isnull()]
print(len(nan_rows))

0
1

In [1237]:
# Substitute values for missing Gross primary education enrollment (%)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
21,Bosnia and Herzegovina,64.0,0.431,51197.0,8.11,21848.0,104.9,0.006,1.27,0.427,1.05,2.004785e+10,NaN,0.233,5.0,77.3,10.0,1.04,Bosnian,0.286,2.16,3301000.0,0.464,0.204,0.237,0.1842,1605144.0

In [1238]:
imputer = KNNImputer()

world_data['Gross primary education enrollment (%)'] = imputer.fit_transform(world_data[['Gross primary education enrollment (%)']])
world_data['Gross primary education enrollment (%)'] = world_data['Gross primary education enrollment (%)'].round(2)

print(world_data.loc[21, 'Gross primary education enrollment (%)'])

1.03

In [1239]:
# Checking more columns for missing values
nan_rows = world_data[world_data['Gross tertiary education enrollment (%)'].isnull()]
print(len(nan_rows))

1

In [1240]:
# Substitute values for missing Gross tertiary education enrollment (%)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
20,Bolivia,11.0,0.348,1098581.0,21.75,21606.0,148.32,0.018,2.73,0.503,0.71,4.089532e+10,0.98,NaN,21.8,71.2,155.0,1.36,Spanish,0.259,1.59,11513100.0,0.718,0.17,0.837,0.035,8033035.0

In [1241]:
imputer = KNNImputer()

world_data['Gross tertiary education enrollment (%)'] = imputer.fit_transform(world_data[['Gross tertiary education enrollment (%)']])
world_data['Gross tertiary education enrollment (%)'] = world_data['Gross tertiary education enrollment (%)'].round(2)

print(world_data.loc[20, 'Gross tertiary education enrollment (%)'])

0.4

In [1242]:
# Checking more columns for missing values
nan_rows = world_data[world_data['Infant mortality'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Life expectancy'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Maternal mortality ratio'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Minimum wage'].isnull()]
print(len(nan_rows))

with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

0
0
0
25

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
9,Austria,109.0,0.324,83871.0,9.70,61448.0,118.06,0.015,1.47,0.469,1.20,4.463147e+11,1.03,0.85,2.9,81.6,5.0,NaN,German,0.179,5.17,8877067.0,0.607,0.254,0.514,0.0467,5194416.0
12,Bahrain,2239.0,0.111,765.0,13.99,31694.0,117.59,0.021,1.99,0.008,0.43,3.857407e+10,0.99,0.50,6.1,77.2,14.0,NaN,Arabic,0.251,0.93,1501635.0,0.734,0.042,0.138,0.0071,1467109.0
27,Burundi,463.0,0.792,27830.0,39.01,495.0,182.11,-0.007,5.41,0.109,1.21,3.012335e+09,1.21,0.06,41.0,61.2,548.0,NaN,Kirundi,0.191,0.10,11530580.0,0.792,0.136,0.412,0.0143,1541177.0
30,Cambodia,95.0,0.309,181035.0,22.46,9919.0,127.63,0.025,2.50,0.529,0.90,2.708939e+10,1.07,0.14,24.0,69.6,160.0,NaN,Khmer language,0.594,0.17,16486542.0,0.823,0.171,0.231,0.0068,3924621.0
43,Cyprus,131.0,0.122,9251.0,10.46,6626.0,102.51,0.003,1.33,0.187,1.23,2.456465e+10,0.99,0.76,1.9,80.8,6.0,NaN,Greek,0.439,1.95,1198575.0,0.631,0.245,0.224,0.0727,800708.0
46,Denmark,137.0,0.620,43094.0,10.60,31786.0,110.35,0.008,1.73,0.147,1.55,3.480780e+11,1.01,0.81,3.6,81.0,4.0,NaN,Danish,0.137,4.01,5818553.0,0.622,0.324,0.238,0.0491,5119978.0
51,Egypt,103.0,0.038,1001450.0,26.38,238560.0,288.57,0.092,3.33,0.001,0.40,3.031751e+11,1.06,0.35,18.1,71.8,37.0,NaN,Modern Standard Arabic,0.620,0.45,100388073.0,0.464,0.125,0.444,0.1076,42895824.0
57,Ethiopia,115.0,0.363,1104300.0,32.34,14870.0,143.86,0.158,4.25,0.125,0.75,9.610766e+10,1.01,0.08,39.1,66.2,401.0,NaN,Amharic,0.378,0.08,112078730.0,0.796,0.075,0.377,0.0208,23788710.0
59,Finland,18.0,0.075,338145.0,8.60,45871.0,112.33,0.010,1.41,0.731,1.45,2.687612e+11,1.00,0.88,1.4,81.7,3.0,NaN,Swedish,0.199,3.81,5520314.0,0.591,0.208,0.366,0.0659,4716888.0
69,Guinea,53.0,0.590,245857.0,36.36,2996.0,262.95,0.095,4.70,0.258,0.90,1.359028e+10,0.92,0.12,64.9,61.2,576.0,NaN,French,0.545,0.08,12771246.0,0.615,0.108,0.693,0.0430,4661505.0
76,Iceland,3.0,0.187,103000.0,12.00,2065.0,129.00,0.030,1.71,0.005,1.69,2.418804e+10,1.00,0.72,1.5,82.7,4.0,NaN,Icelandic,0.170,4.08,361313.0,0.750,0.233,0.319,0.0284,339110.0
83,Italy,206.0,0.432,301340.0,7.30,320411.0,110.62,0.006,1.29,0.318,1.61,2.001244e+12,1.02,0.62,2.6,82.9,2.0,NaN,Italian,0.228,3.98,60297396.0,0.496,0.243,0.591,0.0989,42651966.0
104,Maldives,1802.0,0.263,298.0,14.20,1445.0,99.70,0.002,1.87,0.033,1.63,5.729248e+09,0.97,0.31,7.4,78.6,53.0,NaN,Divehi,0.164,4.56,530953.0,0.698,0.195,0.302,0.0614,213645.0
119,Namibia,3.0,0.471,824292.0,28.64,4228.0,157.97,0.037,3.40,0.083,0.76,1.236653e+10,1.24,0.23,29.0,63.4,195.0,NaN,English,0.083,0.42,2494530.0,0.595,0.271,0.207,0.2027,1273258.0
129,Norway,15.0,0.027,323802.0,10.40,41023.0,120.27,0.022,1.56,0.332,1.78,4.033364e+11,1.00,0.82,2.1,82.8,2.0,NaN,Norwegian,0.143,2.92,5347896.0,0.638,0.239,0.362,0.0335,4418218.0
141,Qatar,248.0,0.058,11586.0,9.54,103259.0,115.38,-0.007,1.87,0.000,0.40,1.834662e+11,1.04,0.18,5.8,80.1,9.0,NaN,Arabic,0.062,2.49,2832067.0,0.868,0.147,0.113,0.0009,2809071.0
144,Rwanda,525.0,0.734,26338.0,31.70,1115.0,151.09,0.034,4.04,0.197,1.17,1.012247e+10,1.33,0.07,27.0,68.7,248.0,NaN,Swahili,0.260,0.13,12626950.0,0.837,0.143,0.332,0.0103,2186104.0
146,Saint Lucia,301.0,0.174,616.0,12.00,414.0,110.13,0.019,1.44,0.332,1.30,2.122451e+09,1.03,0.14,14.9,76.1,117.0,NaN,English,0.484,0.64,182790.0,0.671,0.182,0.347,0.2071,34280.0
156,Singapore,8358.0,0.009,716.0,8.80,37535.0,114.41,0.006,1.14,0.231,1.25,3.720625e+11,1.01,0.85,2.3,83.1,8.0,NaN,Malay,0.367,2.29,5703569.0,0.705,0.131,0.210,0.0411,5703569.0
161,South Africa,49.0,0.798,1219090.0,20.51,476644.0,158.93,0.041,2.41,0.076,0.92,3.514316e+11,1.01,0.22,28.5,63.9,119.0,NaN,Afrikaans,0.077,0.91,58558270.0,0.560,0.275,0.292,0.2818,39149717.0
167,Suriname,4.0,0.006,163820.0,18.54,1738.0,294.66,0.220,2.42,0.983,1.29,3.985251e+09,1.09,0.13,16.9,71.6,120.0,NaN,Dutch,0.101,1.21,581372.0,0.511,0.195,0.279,0.0733,384258.0
168,Sweden,25.0,0.074,450295.0,11.40,43252.0,110.51,0.018,1.76,0.689,1.42,5.308329e+11,1.27,0.67,2.2,82.5,4.0,NaN,Swedish,0.152,3.98,10285453.0,0.646,0.279,0.491,0.0648,9021165.0
169,Switzerland,219.0,0.384,41277.0,10.00,34477.0,99.55,0.004,1.52,0.318,1.45,7.030824e+11,1.05,0.60,3.7,83.6,5.0,NaN,German,0.283,4.30,8574832.0,0.683,0.101,0.288,0.0458,6332428.0
184,United Arab Emirates,118.0,0.055,83600.0,10.33,206324.0,114.52,-0.019,1.41,0.046,0.49,4.211423e+11,1.08,0.37,6.5,77.8,3.0,NaN,Arabic,0.178,2.53,9770529.0,0.821,0.001,0.159,0.0235,8479744.0
194,Zimbabwe,38.0,0.419,390757.0,30.68,10983.0,105.51,0.009,3.62,0.355,1.34,2.144076e+10,1.10,0.10,33.9,61.2,458.0,NaN,Shona,0.258,0.21,14645468.0,0.831,0.207,0.316,0.0495,4717305.0

In [1243]:
imputer = KNNImputer()

world_data['Minimum wage'] = imputer.fit_transform(world_data[['Minimum wage']])
world_data['Minimum wage'] = world_data['Minimum wage'].round(2)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
9,Austria,109.0,0.324,83871.0,9.70,61448.0,118.06,0.015,1.47,0.469,1.20,4.463147e+11,1.03,0.85,2.9,81.6,5.0,NaN,German,0.179,5.17,8877067.0,0.607,0.254,0.514,0.0467,5194416.0
12,Bahrain,2239.0,0.111,765.0,13.99,31694.0,117.59,0.021,1.99,0.008,0.43,3.857407e+10,0.99,0.50,6.1,77.2,14.0,NaN,Arabic,0.251,0.93,1501635.0,0.734,0.042,0.138,0.0071,1467109.0
27,Burundi,463.0,0.792,27830.0,39.01,495.0,182.11,-0.007,5.41,0.109,1.21,3.012335e+09,1.21,0.06,41.0,61.2,548.0,NaN,Kirundi,0.191,0.10,11530580.0,0.792,0.136,0.412,0.0143,1541177.0
30,Cambodia,95.0,0.309,181035.0,22.46,9919.0,127.63,0.025,2.50,0.529,0.90,2.708939e+10,1.07,0.14,24.0,69.6,160.0,NaN,Khmer language,0.594,0.17,16486542.0,0.823,0.171,0.231,0.0068,3924621.0
43,Cyprus,131.0,0.122,9251.0,10.46,6626.0,102.51,0.003,1.33,0.187,1.23,2.456465e+10,0.99,0.76,1.9,80.8,6.0,NaN,Greek,0.439,1.95,1198575.0,0.631,0.245,0.224,0.0727,800708.0
46,Denmark,137.0,0.620,43094.0,10.60,31786.0,110.35,0.008,1.73,0.147,1.55,3.480780e+11,1.01,0.81,3.6,81.0,4.0,NaN,Danish,0.137,4.01,5818553.0,0.622,0.324,0.238,0.0491,5119978.0
51,Egypt,103.0,0.038,1001450.0,26.38,238560.0,288.57,0.092,3.33,0.001,0.40,3.031751e+11,1.06,0.35,18.1,71.8,37.0,NaN,Modern Standard Arabic,0.620,0.45,100388073.0,0.464,0.125,0.444,0.1076,42895824.0
57,Ethiopia,115.0,0.363,1104300.0,32.34,14870.0,143.86,0.158,4.25,0.125,0.75,9.610766e+10,1.01,0.08,39.1,66.2,401.0,NaN,Amharic,0.378,0.08,112078730.0,0.796,0.075,0.377,0.0208,23788710.0
59,Finland,18.0,0.075,338145.0,8.60,45871.0,112.33,0.010,1.41,0.731,1.45,2.687612e+11,1.00,0.88,1.4,81.7,3.0,NaN,Swedish,0.199,3.81,5520314.0,0.591,0.208,0.366,0.0659,4716888.0
69,Guinea,53.0,0.590,245857.0,36.36,2996.0,262.95,0.095,4.70,0.258,0.90,1.359028e+10,0.92,0.12,64.9,61.2,576.0,NaN,French,0.545,0.08,12771246.0,0.615,0.108,0.693,0.0430,4661505.0
76,Iceland,3.0,0.187,103000.0,12.00,2065.0,129.00,0.030,1.71,0.005,1.69,2.418804e+10,1.00,0.72,1.5,82.7,4.0,NaN,Icelandic,0.170,4.08,361313.0,0.750,0.233,0.319,0.0284,339110.0
83,Italy,206.0,0.432,301340.0,7.30,320411.0,110.62,0.006,1.29,0.318,1.61,2.001244e+12,1.02,0.62,2.6,82.9,2.0,NaN,Italian,0.228,3.98,60297396.0,0.496,0.243,0.591,0.0989,42651966.0
104,Maldives,1802.0,0.263,298.0,14.20,1445.0,99.70,0.002,1.87,0.033,1.63,5.729248e+09,0.97,0.31,7.4,78.6,53.0,NaN,Divehi,0.164,4.56,530953.0,0.698,0.195,0.302,0.0614,213645.0
119,Namibia,3.0,0.471,824292.0,28.64,4228.0,157.97,0.037,3.40,0.083,0.76,1.236653e+10,1.24,0.23,29.0,63.4,195.0,NaN,English,0.083,0.42,2494530.0,0.595,0.271,0.207,0.2027,1273258.0
129,Norway,15.0,0.027,323802.0,10.40,41023.0,120.27,0.022,1.56,0.332,1.78,4.033364e+11,1.00,0.82,2.1,82.8,2.0,NaN,Norwegian,0.143,2.92,5347896.0,0.638,0.239,0.362,0.0335,4418218.0
141,Qatar,248.0,0.058,11586.0,9.54,103259.0,115.38,-0.007,1.87,0.000,0.40,1.834662e+11,1.04,0.18,5.8,80.1,9.0,NaN,Arabic,0.062,2.49,2832067.0,0.868,0.147,0.113,0.0009,2809071.0
144,Rwanda,525.0,0.734,26338.0,31.70,1115.0,151.09,0.034,4.04,0.197,1.17,1.012247e+10,1.33,0.07,27.0,68.7,248.0,NaN,Swahili,0.260,0.13,12626950.0,0.837,0.143,0.332,0.0103,2186104.0
146,Saint Lucia,301.0,0.174,616.0,12.00,414.0,110.13,0.019,1.44,0.332,1.30,2.122451e+09,1.03,0.14,14.9,76.1,117.0,NaN,English,0.484,0.64,182790.0,0.671,0.182,0.347,0.2071,34280.0
156,Singapore,8358.0,0.009,716.0,8.80,37535.0,114.41,0.006,1.14,0.231,1.25,3.720625e+11,1.01,0.85,2.3,83.1,8.0,NaN,Malay,0.367,2.29,5703569.0,0.705,0.131,0.210,0.0411,5703569.0
161,South Africa,49.0,0.798,1219090.0,20.51,476644.0,158.93,0.041,2.41,0.076,0.92,3.514316e+11,1.01,0.22,28.5,63.9,119.0,NaN,Afrikaans,0.077,0.91,58558270.0,0.560,0.275,0.292,0.2818,39149717.0
167,Suriname,4.0,0.006,163820.0,18.54,1738.0,294.66,0.220,2.42,0.983,1.29,3.985251e+09,1.09,0.13,16.9,71.6,120.0,NaN,Dutch,0.101,1.21,581372.0,0.511,0.195,0.279,0.0733,384258.0
168,Sweden,25.0,0.074,450295.0,11.40,43252.0,110.51,0.018,1.76,0.689,1.42,5.308329e+11,1.27,0.67,2.2,82.5,4.0,NaN,Swedish,0.152,3.98,10285453.0,0.646,0.279,0.491,0.0648,9021165.0
169,Switzerland,219.0,0.384,41277.0,10.00,34477.0,99.55,0.004,1.52,0.318,1.45,7.030824e+11,1.05,0.60,3.7,83.6,5.0,NaN,German,0.283,4.30,8574832.0,0.683,0.101,0.288,0.0458,6332428.0
184,United Arab Emirates,118.0,0.055,83600.0,10.33,206324.0,114.52,-0.019,1.41,0.046,0.49,4.211423e+11,1.08,0.37,6.5,77.8,3.0,NaN,Arabic,0.178,2.53,9770529.0,0.821,0.001,0.159,0.0235,8479744.0
194,Zimbabwe,38.0,0.419,390757.0,30.68,10983.0,105.51,0.009,3.62,0.355,1.34,2.144076e+10,1.10,0.10,33.9,61.2,458.0,NaN,Shona,0.258,0.21,14645468.0,0.831,0.207,0.316,0.0495,4717305.0

In [1244]:
nan_rows = world_data[world_data['Official language'].isnull()]
print(len(nan_rows))

with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

world_data.loc[8, 'Official language'] = 'English'
world_data.loc[85, 'Official language'] = 'Japanese'
world_data.loc[110, 'Official language'] = 'Spanish'
world_data.loc[186, 'Official language'] = 'English'

4

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
8,Australia,3.0,0.482,7741220.0,12.6,375908.0,119.80,0.016,1.74,0.163,0.93,1.392681e+12,1.00,1.13,3.1,82.7,6.0,13.59,NaN,0.196,3.68,25766605.0,0.655,0.230,0.474,0.0527,21844756.0
85,Japan,347.0,0.123,377944.0,7.4,1135886.0,105.48,0.005,1.42,0.685,1.06,5.081770e+12,0.99,0.63,1.8,84.2,5.0,6.77,NaN,0.131,2.41,126226568.0,0.617,0.119,0.467,0.0229,115782416.0
110,Mexico,66.0,0.546,1964375.0,17.6,486406.0,141.54,0.036,2.13,0.339,0.73,1.258287e+12,1.06,0.40,11.0,75.0,33.0,0.49,NaN,0.414,2.38,126014024.0,0.607,0.131,0.551,0.0342,102626859.0
186,United States,36.0,0.444,9833517.0,11.6,5006302.0,117.24,0.075,1.73,0.339,0.71,2.142770e+13,1.02,0.88,5.6,78.5,19.0,7.25,NaN,0.111,2.61,328239523.0,0.620,0.096,0.366,0.1470,270663028.0

In [1246]:
nan_rows = world_data[world_data['Out of pocket health expenditure'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Physicians per thousand'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Population'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Population: Labor force participation (%)'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Tax revenue (%)'].isnull()]
print(len(nan_rows))

with pd.option_context('display.max_rows', None, 'display.max_columns', None):      
    display(nan_rows)

imputer = KNNImputer()

world_data['Tax revenue (%)'] = imputer.fit_transform(world_data[['Tax revenue (%)']])
world_data['Tax revenue (%)'] = world_data['Tax revenue (%)'].round(2)

print(world_data.loc[34, 'Tax revenue (%)'])
print(world_data.loc[50, 'Tax revenue (%)'])
print(world_data.loc[71, 'Tax revenue (%)'])

0
0
0
0
0

Empty DataFrame
Columns: [Country, Density
(P/Km2), Agricultural Land( %), Land Area(Km2), Birth Rate, Co2-Emissions, CPI, CPI Change (%), Fertility Rate, Forested Area (%), Gasoline Price, GDP, Gross primary education enrollment (%), Gross tertiary education enrollment (%), Infant mortality, Life expectancy, Maternal mortality ratio, Minimum wage, Official language, Out of pocket health expenditure, Physicians per thousand, Population, Population: Labor force participation (%), Tax revenue (%), Total tax rate, Unemployment rate, Urban_population]
Index: []

0.16
0.16
0.16

In [1248]:
nan_rows = world_data[world_data['Total tax rate'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Unemployment rate'].isnull()]
print(len(nan_rows))

nan_rows = world_data[world_data['Urban_population'].isnull()]
print(len(nan_rows))

0
0